<!DOCTYPE html>
<html>
<head>
    <title> Progetto RDC LTW</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" lang="javascript" src="../js/bootstrap.min.js"></script>
    <link rel=stylesheet href="../styles/index.css" type="text/css">
    <link rel=stylesheet href="../styles/courses.css" type="text/css">
    <link rel=stylesheet href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="//code.jquery.com/jquery-3.5.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
  </head>
<body>

    <div class="header">
        <img src="../logo/logo_small.png" class="logo img-fluid" alt="JustClick">
        <p id="testologo">Tutto il sapere a portata di click</p>
    </div>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-blue" id="1">
      <div class="container-fluid" id="2">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fw-bold" aria-current="page" href="/" id="home">HOME</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                ACCEDI
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/login">Login/Logout</a></li>
                <li><a class="dropdown-item" href="/register">Registrati</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-bold" href="/courses">COURSES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="/AboutUs">ABOUT US</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                PROFILO
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/personalArea">Il mio account</a></li>
                <li><a class="dropdown-item" href="/manageAccount">Carica corso</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" action="/search">
            <input class="form-control me-2" type="search" id="search" name="search" placeholder="Search" aria-label="Search" required>
            <button class="btn  btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>


    <!-- parte del body da modificare ognuno di noi -->
    <div class="row g-0">
    <div class="center">

        <!-- immagine profilo e copertina -->
        <div class="coverimage <%= course.category %> ">
            <div class="text-center">
                <!-- immagine circolare con bordo-->
                <% if (course.image == "not loaded") { %> 
                  <img src="../img/courseImgs/default_image.png" class="profilebds profileimage" alt="JustClick">
                <% } else { %>
                  <img src="../img/courseImgs/<%= course.author %>_<%= course.courseName %>.png " class="profilebds profileimage" alt="JustClick">
                <% } %>       
                <input type="image" src="../img/modify.png" class="modify-image" alt="Modifica" data-bs-toggle="offcanvas" 
                 data-bs-target="#cambiaImmagine" aria-controls="cambiaImmagine">
                <div class="offcanvas offcanvas-start" tabindex="-1" id="cambiaImmagine" aria-labelledby="offcanvasExampleLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title">Modifica immagine</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <form action="/updateImg/<%= course.courseName %> " enctype="multipart/form-data" method="POST">
                      <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Seleziona immagine da caricare</label>
                        <input type="file" class="form-control" id="newImage" name="newImage" accept="image/*" required>
                      </div>  
                      <input type="submit" class="btn btn-success" id="imageBtn" value="Invia" onclick="return validaForm()">
                    </form>            
                  </div>
                </div>
            </div>     
        </div>
        <script>
          function validaForm() {
            var file = document.getElementById("newImage").files[0];
            if(file.size > 50000) {
              alert("Immagine troppo grande");
              return false;
            }
            if(file.type!='image/jpeg' && file.type!='image/jpg' && file.type!='image/png' && file.type!='image/gif' && file.type!='image/svg+xml' ) {
              alert("formato immagine non valido");
              return false;
            }
          }
        </script>

        <div class="profilename text-center text-modify"><%= course.courseName %></div>
        <!-- informazioni varie -->
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 id = "followerText"> Follower: <%= course.courseFollower %> </h1> 
                </div>
                <div class="col text-center">
                    <h1 id = "publicationsText"> Pubblicazioni: <span id="publications"><%=course.coursePublications%></span> </h1> 
                </div>
            </div>
    
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-outline-success" id="followerBtn" disabled>Iscriviti al canale</button>
                </div>
                <div class="col text-center">
                    <button class="btn btn-outline-success disabled" disabled>Visualizza materiale</button>
                </div> 
            </div>
        

        <!-- materiale in evidenza -->
        <div class="row content-row">
          <% var totEv = 0; if(course.firstEvidenza.length!=0) totEv++; if(course.secondEvidenza.length!=0) totEv++; if(course.thirdEvidenza.length!=0) totEv++; if(totEv<3) totEv++; %> 

          <% if (!(course.firstEvidenza.length != 0 && course.secondEvidenza.length != 0 && course.thirdEvidenza.length != 0)) { %>
            <div class="col">
              <ev id="ev" name="ev" hidden>0</ev>
              <div class="card h-100 border-primary mb-3 sized-card-<%=totEv%>">
                  <div class="card-header text-dark bg-primary mb-3">Aggiungi</div>
                  <img src="../img/add.png" class="card-img-top" alt="JustClick">
                  <input type="image" src="../img/modify.png" class="modify-evidence" id="firstBtn" alt="Modifica">
                  <div class="card-body text-primary">
                    <h5 class="card-title">Materiale in evidenza</h5>
                    <p class="card-text">Aggiungi qui i tuoi eventi più interessanti o il materiale più importante per i tuoi follower!</p>
                  </div>
              </div>
            </div>
          <% } %>

          <% if (course.firstEvidenza.length != 0) { %>
            <div class="col">
              <ev id="ev" name="ev" hidden>1</ev>
              <div class="card h-100 border-primary mb-3 sized-card-<%=totEv%>">
                  <div class="card-header text-dark bg-primary mb-3"><%=course.firstEvidenza[0]%></div>
                  <a href="../materiale/<%=course.courseName%>_<%=course.firstEvidenza[0]%>">
                    <% if (course.firstEvidenza[2]=='image/jpeg' || course.firstEvidenza[2]=='image/jpg' || course.firstEvidenza[2]=='image/png' || course.firstEvidenza[2]=='image/gif' || course.thirdEvidenza[2]=='image/svg+xml') { %>
                      <img src="../materiale/<%=course.courseName%>_<%=course.firstEvidenza[0]%>" class="card-img-top adattiva" alt="JustClick">
                    <% } else if(course.firstEvidenza[2]=='application/pdf' || course.firstEvidenza[2]=='text/plain') { %>
                      <img src="../img/default_books.jpeg" class="card-img-top adattiva" alt="JustClick">
                    <% } else if(course.firstEvidenza[2]=='audio/mpeg' || course.firstEvidenza[2]=='audio/ogg' || course.firstEvidenza[2]=='application/octet-stream') { %>
                      <img src="../img/icona-audio.png" class="card-img-top adattiva" alt="JustClick">
                    <% } else if(course.firstEvidenza[2]=='video/mp4' || course.firstEvidenza[2]=='video/ogg') { %>
                      <img src="../img/icona-video.png" class="card-img-top adattiva" alt="JustClick">
                    <% } else { %>
                      <img src="../img/default_courses.jpeg" class="card-img-top adattiva" alt="JustClick">
                    <% } %>
                  </a>
                  <input type="image" src="../img/delete.png" class="modify-evidence" alt="Modifica">
                  <div class="card-body text-primary">  
                    <h5 class="card-title"></h5>
                  <p class="card-text"><%=course.firstEvidenza[1]%></p>
                  </div>
              </div>               
            </div>
          <% } %>
            

          <% if (course.secondEvidenza.length != 0) { %>
            <div class="col">
              <ev id="ev" name="ev" hidden>2</ev>
              <div class="card h-100 border-primary mb-3 sized-card-<%=totEv%>">
                  <div class="card-header text-dark bg-primary mb-3"><%=course.secondEvidenza[0]%></div>
                  <a href="../materiale/<%=course.courseName%>_<%=course.secondEvidenza[0]%>">
                    <% if (course.secondEvidenza[2]=='image/jpeg' || course.secondEvidenza[2]=='image/jpg' || course.secondEvidenza[2]=='image/png' || course.secondEvidenza[2]=='image/gif' || course.secondEvidenza[2]=='image/svg+xml') { %>
                      <img src="../materiale/<%=course.courseName%>_<%=course.secondEvidenza[0]%>" class="card-img-top adattiva" alt="JustClick">
                    <% } else if(course.secondEvidenza[2]=='application/pdf' || course.secondEvidenza[2]=='text/plain') { %>
                      <img src="../img/default_books.jpeg" class="card-img-top adattiva" alt="JustClick">
                    <% } else if(course.secondEvidenza[2]=='audio/mpeg' || course.secondEvidenza[2]=='audio/ogg' || course.secondEvidenza[2]=='application/octet-stream') { %>
                      <img src="../img/icona-audio.png" class="card-img-top adattiva" alt="JustClick">
                    <% } else if(course.secondEvidenza[2]=='video/mp4' || course.secondEvidenza[2]=='video/ogg') { %>
                      <img src="../img/icona-video.png" class="card-img-top adattiva" alt="JustClick">
                    <% } else { %>
                      <img src="../img/default_courses.jpeg" class="card-img-top adattiva" alt="JustClick">
                    <% } %>
                  </a>
                  <input type="image" src="../img/delete.png" class="modify-evidence" alt="Modifica">
                  <div class="card-body text-primary">
                    <h5 class="card-title"></h5>
                    <p class="card-text"><%=course.secondEvidenza[1]%></p>
                  </div>
              </div>
            </div>
          <% } %>

          <% if (course.thirdEvidenza.length != 0) { %>
            <div class="col">
              <ev id="ev" name="ev" hidden>3</ev>
              <div class="card h-100 border-primary mb-3 sized-card-<%=totEv%>">
                  <div class="card-header text-dark bg-primary mb-3"><%=course.thirdEvidenza[0]%></div>
                  <a href="../materiale/<%=course.courseName%>_<%=course.thirdEvidenza[0]%>">
                    <% if (course.thirdEvidenza[2]=='image/jpeg' || course.thirdEvidenza[2]=='image/jpg' || course.thirdEvidenza[2]=='image/png' || course.thirdEvidenza[2]=='image/gif' || course.thirdEvidenza[2]=='image/svg+xml') { %>
                      <img src="../materiale/<%=course.courseName%>_<%=course.thirdEvidenza[0]%>" class="card-img-top adattiva" alt="JustClick">
                    <% } else if(course.thirdEvidenza[2]=='application/pdf' || course.thirdEvidenza[2]=='text/plain') { %>
                      <img src="../img/default_books.jpeg" class="card-img-top adattiva" alt="JustClick">
                    <% } else if(course.thirdEvidenza[2]=='audio/mpeg' || course.thirdEvidenza[2]=='audio/ogg' || course.thirdEvidenza[2]=='application/octet-stream') { %>
                      <img src="../img/icona-audio.png" class="card-img-top adattiva" alt="JustClick">
                    <% } else if(course.thirdEvidenza[2]=='video/mp4' || course.thirdEvidenza[2]=='video/ogg') { %>
                      <img src="../img/icona-video.png" class="card-img-top adattiva" alt="JustClick">
                    <% } else { %>
                      <img src="../img/default_courses.jpeg" class="card-img-top adattiva" alt="JustClick">
                    <% } %>
                  </a>
                  <input type="image" src="../img/delete.png" class="modify-evidence" alt="Modifica">
                  <div class="card-body text-primary">
                    <h5 class="card-title"></h5>
                    <p class="card-text"><%=course.thirdEvidenza[1]%></p>
                  </div>
              </div>
            </div>
          <% } %>

        </div>
 
        <!-- elenco dei corsi-->
        <%# if (course.iter == 0) { %>
        <div class="courses bds text-center" > 
          <!--<index id="index" hidden>-1</index>    -->     
          <h2> Nuovo materiale  <span class="badge rounded-pill bg-success">NEW!</span></h2>
          <img src="../img/default_school.png" class="img-fluid" alt="JustClick">
          <h5 class="card-text">Aggiungi qui il tuo materiale!</h5> 
          <input type="image" src="../img/modify.png" class="create-course" alt="Modifica" data-bs-toggle="offcanvas" 
          data-bs-target="#creaMateriale" aria-controls="creaMateriale">
          <div class="offcanvas offcanvas-start" tabindex="-1" id="creaMateriale" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title">Aggiungi materiale</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <form action="/update/setCorsi" enctype="multipart/form-data" method="POST">
                <input type="text" id="course" name="course" value="<%= course.courseName %>" hidden>
                <div class="mb-3">
                  <label for="formFileMultiple" class="form-label">Inserisci il materiale del corso (video, immagini, appunti, ecc.)</label>
                  <input type="file" class="form-control" name="materiale" id="materiale" required>
                </div>
            
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Inserisci la descrizione relativa al materiale</label>
                  <textarea class="form-control" name="descMateriale" id="descMateriale" placeholder="Inserisci la descrizione" rows="3"></textarea>
                </div>
                <input type="submit" class="btn btn-success" id="imageBtn" value="Invia" onclick="return validaForm()">
              </form>            
            </div>
          </div>
        </div>

        <script>
          function validaForm() {
            var file = document.getElementById("materiale").files[0];
            if(file.size > 10000000) {
              alert("File troppo grande");
              return false;
            }
          }
        </script>
        <%# } %>

        <% let it %> 
        <% if (course.courses.length < course.iter+10) { %>
          <% it= course.courses.length %> 
        <% } else { %>
         <% it= course.iter+10 %> 
        <% } %>
        <% for( let index = course.iter; index < it; index++ ) { %>
          <div class="courses bds text-center" > 
            <vl hidden><%=course.courses[index][0]%></vl>
            <index id="index" hidden><%=index%></index>  
            <a href="../materiale/<%= course.courseName %>_<%= course.courses[index][0] %>">     
              <h2> <%= course.courses[index][0] %> <span class="badge rounded-pill bg-success">NEW!</span></h2>
              <img src="#" id="bodyMateriale" name="bodyMateriale" class="img-fluid anteprima" alt="JustClick">
            </a>
            <h5 class="card-text"><%= course.courses[index][1] %> </h5> 
            <input type="image" src="../img/delete.png" class="modify-courses" alt="Modifica">
          </div>
        <% } %>

        <script>
          var bodyMateriale = document.getElementsByName("bodyMateriale");
          var corsi = <%- JSON.stringify(course.courses) %>;
          var courseIter = <%-course.iter%>;
          for(var j=0; j<bodyMateriale.length; j++) {
            //alert(corsi[i][2]);
            var i = j+courseIter;
            if(corsi[i][2]=='image/jpeg'||corsi[i][2]=='image/jpg'||corsi[i][2]=='image/png'||corsi[i][2]=='image/gif'||corsi[i][2]=='image/svg+xml') {
              bodyMateriale[j].getAttributeNode("src").value = "../materiale/"+'<%=course.courseName%>'+'_'+corsi[i][0];
            }
            else if(corsi[i][2]=='application/pdf'||corsi[i][2]=='text/plain') {
              //bodyMateriale[i].getAttributeNode("src").value = "../img/default_books.jpeg";
              var node = document.createElement("embed");

              var nome = document.createAttribute("name");
              var type = document.createAttribute("type");
              var src = document.createAttribute("src");
              var width = document.createAttribute("width");
              var height = document.createAttribute("height");

              src.value = "../materiale/"+'<%=course.courseName%>'+'_'+corsi[i][0];
              type.value = corsi[i][2];
              nome.value="bodyMateriale";
              width.value = "80%";
              height.value = "400px";


              node.setAttributeNode(nome);
              node.setAttributeNode(type);
              node.setAttributeNode(src);
              node.setAttributeNode(width);
              node.setAttributeNode(height);

              bodyMateriale[j].parentElement.replaceChild(node,bodyMateriale[j]);
            }
            else if(corsi[i][2]=='audio/mpeg'||corsi[i][2]=='audio/ogg'||corsi[i][2]=='application/octet-stream') {
              var node = document.createElement("audio");
              var nome = document.createAttribute("name");
              var source = document.createElement("source");
              var type = document.createAttribute("type");
              var src = document.createAttribute("src");
              var controls = document.createAttribute("controls");

              src.value = "../materiale/"+'<%=course.courseName%>'+'_'+corsi[i][0];
              type.value = corsi[i][2];
              nome.value="bodyMateriale";

              source.setAttributeNode(src);
              source.setAttributeNode(type);
              node.setAttributeNode(controls);
              node.setAttributeNode(nome);
              node.appendChild(source);
              bodyMateriale[j].parentElement.replaceChild(node,bodyMateriale[j]);
            }
            else if(corsi[i][2]=='video/mp4'||corsi[i][2]=='video/ogg') {
              var node = document.createElement("video");
              var nome = document.createAttribute("name");
              var width = document.createAttribute("width");
              var height = document.createAttribute("height");
              var source = document.createElement("source");
              var type = document.createAttribute("type");
              var src = document.createAttribute("src");
              var controls = document.createAttribute("controls");

              src.value = "../materiale/"+'<%=course.courseName%>'+'_'+corsi[i][0];
              type.value = corsi[i][2];
              nome.value="bodyMateriale";
              width.value = "80%";
              height.value = "auto";
              
              source.setAttributeNode(src);
              source.setAttributeNode(type);
              node.setAttributeNode(controls);
              node.setAttributeNode(nome);
              node.setAttributeNode(width);
              node.setAttributeNode(height);
              node.appendChild(source);
              bodyMateriale[j].parentElement.replaceChild(node,bodyMateriale[j]);
            }
            else {
              bodyMateriale[j].getAttributeNode("src").value = "../img/default_school.png";
            }
              
          }
        </script>


        <!-- cambia pagina per altri corsi-->
        <% if (course.courses.length > 10) { %>
          <nav aria-label="Search other courses">
            <ul class="pagination center switchcourses">
              <% if (course.iter > 0) { %>
                <li class="page-item"><a class="page-link" href="/courses2/<%=course.courseName%>?iter=<%=course.iter-10%>">Previous</a></li>
              <% } else { %>
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              <% } %>
              <!-- decommenta per disabilitare --
              <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li> -->
              <li class="page-item"><a class="page-link" href="/courses2/<%=course.courseName%>?iter=0">1</a></li>
              <li class="page-item"><a class="page-link" href="/courses2/<%=course.courseName%>?iter=10">2</a></li>
              <% if (course.courses.length > 20) { %>
              <li class="page-item"><a class="page-link" href="/courses2/<%=course.courseName%>?iter=20">3</a></li>
              <% } %>
              <% if (course.courses.length > course.iter + 10) { %>
                <li class="page-item"><a class="page-link" href="/courses2/<%=course.courseName%>?iter=<%=course.iter+10%>">Next</a></li>
              <% } else { %>
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
              <% } %>
              
            </ul>
          </nav>
        <% } %>
  
  </div>
  </div>

  <script>

    var pubblicazioni = document.getElementById("publications").innerHTML;
    //document.getElementById("publicationsText");
    var bottoni = document.getElementsByClassName("modify-courses");
    var httpRequest = new XMLHttpRequest();
    for(var i=0; i<bottoni.length; i++) {
      bottoni[i].onclick = delete_courses;
    }
    function delete_courses(e) {
      //e.target.parentElement.parentElement.style.visibility = "hidden";
     
      var evidenze = document.getElementsByTagName("ev");
      for(var i=0; i<evidenze.length; i++) {
        //alert(evidenze[i].parentElement.getElementsByClassName("card-header")[0].innerHTML);
        if(evidenze[i].parentElement.getElementsByClassName("card-header")[0].innerHTML == e.target.parentElement.getElementsByTagName("vl")[0].innerHTML ) {
          alert("non puoi rimuovere un corso in evidenza!");
          return false;
        }
      }
      pubblicazioni --;
      //alert(pubblicazioni);
      document.getElementById("publications").innerHTML = pubblicazioni;
      httpRequest.open("POST", "/update/courses", true);
      httpRequest.setRequestHeader("Content-type", "application/json");
      httpRequest.send( '{ "index": '+e.target.parentElement.getElementsByTagName("index")[0].innerHTML+
                          ',"course": "'+'<%- course.courseName %>'+'" }');
      //alert( '{ "index": '+e.target.parentElement.getElementsByTagName("index")[0].innerHTML+
      //                  ',"course": "'+'<%- course.courseName %>'+'" }');
      e.target.parentElement.remove();
      var newIndexes = document.getElementsByTagName("index");
      var courseIter = <%-course.iter%>;
      for(var i=0; i<newIndexes.length; i++) {
        //alert(newIndexes[i].innerHTML);
        newIndexes[i].innerHTML = i+courseIter;
        //alert(newIndexes[i].innerHTML);
      }
      
    }

    var buttons = document.getElementsByClassName("modify-evidence");
    for(var i=0; i<buttons.length; i++) {
      buttons[i].onclick = delete_evidence;
      if(buttons[i].parentElement.parentElement.getElementsByTagName("ev")[0].innerHTML == 0) buttons[i].onclick = create_evidence;
    }

    function create_evidence(e) {
      for(var i=0; i<bottoni.length; i++) {
        bottoni[i].getAttributeNode("src").value = "../img/create.jpg";
        bottoni[i].onclick = add_course_to_evidence;
      }
      e.target.getAttributeNode("src").value = "../img/back.png";
        e.target.onclick = go_back;
    }

    function delete_evidence(e) {
      //e.target.parentElement.parentElement.style.visibility = "hidden";
      httpRequest.open("POST", "/update/evidenza", true);
      httpRequest.setRequestHeader("Content-type", "application/json");
      httpRequest.send( '{ "evidenza": '+e.target.parentElement.parentElement.getElementsByTagName("ev")[0].innerHTML+
                        ',"course": "'+'<%- course.courseName %>'+'" }');
      //alert( '{ "evidenza": '+e.target.parentElement.parentElement.getElementsByTagName("ev")[0].innerHTML+
      //                  ',"course": "'+'<%#- course.courseName %>'+'" }');
      if(document.getElementsByTagName("ev").length == 3) {
        if(document.getElementsByTagName("ev")[0].innerHTML != 0) {
          var nuovaCard = e.target.parentElement;
          nuovaCard.getElementsByClassName("modify-evidence")[0].getAttributeNode("src").value = "../img/modify.png";
          nuovaCard.getElementsByClassName("modify-evidence")[0].onclick = create_evidence;
          nuovaCard.getElementsByClassName("adattiva")[0].getAttributeNode("src").value = "../img/add.png";
          nuovaCard.getElementsByClassName("card-header")[0].innerHTML = "Aggiungi";
          var cardbody = nuovaCard.getElementsByClassName("card-body")[0];
          cardbody.getElementsByTagName("p")[0].innerHTML = "Aggiungi qui i tuoi eventi più interessanti o il materiale più importante per i tuoi follower!";
          cardbody.getElementsByTagName("h5")[0].innerHTML = "Materiale in evidenza";
        }
        else e.target.parentElement.parentElement.remove();
      }
      else e.target.parentElement.parentElement.remove();
    }

    function add_course_to_evidence(e) {
      httpRequest.open("POST", "/update/setEvidenza", true);
      httpRequest.setRequestHeader("Content-type", "application/json");
      httpRequest.send( '{ "index": '+e.target.parentElement.getElementsByTagName("index")[0].innerHTML+
                        ',"course": "'+'<%- course.courseName %>'+'" }');
      alert("Il corso è stato messo in evidenza!");
      location.reload();

     /* for(var i=0; i<bottoni.length; i++) {
        bottoni[i].getAttributeNode("src").value = "../img/delete.png";
        bottoni[i].onclick = delete_courses;
      }
      var evs = document.getElementsByTagName("ev");
      var evToChange = 0;
      for(var i=1; i<evs.length; i++) {
        if(evs[i].innerHTML == 1) evToChange = 2;
        if(evs[i].innerHTML == 2 && evToChange == 2) evToChange = 3;
      }
      var nuovoEv = evs[0];
      nuovoEv.innerHTML = evToChange;
      var nuovaCard = nuovoEv.parentElement;
      nuovaCard.getElementsByClassName("modify-evidence")[0].getAttributeNode("src").value = "../img/delete.png";
      nuovaCard.getElementsByClassName("modify-evidence")[0].onclick = delete_evidence;
      alert(e.target.parentElement.getElementsByClassName("card-text")[0].innerHTML);
      nuovaCard.getElementsByClassName("card-title")[0].innerHTML = e.target.parentElement.getElementsByClassName("card-text")[0].innerHTML;
      */
    }

    function go_back(e) {
      for(var i=0; i<bottoni.length; i++) {
        bottoni[i].getAttributeNode("src").value = "../img/delete.png";
        bottoni[i].onclick = delete_courses;
      }
      e.target.getAttributeNode("src").value = "../img/modify.png";
      e.target.onclick = create_evidence;
    }
  </script>
  
  

  
  <!-- fine parte del body da modificare-->

  <div id="footer"></div>
  <script>
    $(function(){
    $("#footer").load("../views/footer.html");
    });
  </script>

</body>
</html>