<!DOCTYPE html>
<html>
<head>
    <title> Progetto RDC LTW</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" lang="javascript" src="../js/bootstrap.min.js"></script>
    <link rel=stylesheet href="../styles/index.css" type="text/css">
    <link rel=stylesheet href="../styles/courses.css" type="text/css">
    <link rel=stylesheet href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>

    <div class="header">
        <img src="../logo/logo_small.png" alt="JustClick">
        <p>Tutto il sapere a portata di click</p>
    </div>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-blue" id="1">
      <div class="container-fluid" id="2">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fw-bold" aria-current="page" href="/" id="home">HOME</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                LOGIN
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/login">Accedi</a></li>
                <li><a class="dropdown-item" href="/register">Registarti</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-bold" href="/courses">COURSES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="/AboutUs">ABOUT US</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                PROFILO
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/manageAccount">Gestisci account</a></li>
                <li><a class="dropdown-item" href="/personalArea">Il mio account</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" action="/search">
            <input class="form-control me-2" type="search" id="search" name="search" placeholder="Search" aria-label="Search" required>
            <button class="btn  btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>


    <!-- parte del body da modificare ognuno di noi -->

    <div class="center">

        <!-- immagine profilo e copertina -->
        <div class="coverimage <%= course.category %> ">
            <div class="text-center">
                <!-- immagine circolare con bordo-->
                <% if (course.image == "not loaded") { %> 
                  <img src="../img/courseImgs/default_image.png" class="profilebds profileimage" alt="JustClick">
                <% } else { %>
                  <img src="../img/courseImgs/<%= course.author %>_<%= course.courseName %>.png " class="profilebds profileimage" alt="JustClick">
                <% } %>       
                <input type="image" src="../img/modify.png" class="modify-image" alt="Modifica" data-bs-toggle="offcanvas" 
                 data-bs-target="#cambiaImmagine" aria-controls="cambiaImmagine">
                <div class="offcanvas offcanvas-start" tabindex="-1" id="cambiaImmagine" aria-labelledby="offcanvasExampleLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title">Modifica immagine</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <form action="/updateImg/<%= course.courseName %> " enctype="multipart/form-data" method="POST">
                      <h5>Seleziona immagine da caricare</h5>
                      <input type="file" id="newImage" name="newImage" accept="image/*" required>
                      <input type="submit" id="imageBtn" value="Invia" onclick="return validaForm()">
                    </form>            
                  </div>
                </div>
            </div>     
        </div>
        <script>
          function validaForm() {
            var file = document.getElementById("newImage").files[0];
            if(file.size > 50000) {
              alert("Immagine troppo grande");
              return false;
            }
            if(file.type!='image/jpeg' && file.type!='image/jpg' && file.type!='image/png' && file.type!='image/gif' && file.type!='image/svg+xml' ) {
              alert("formato immagine non valido");
              return false;
            }
          }
        </script>

        <div class="profilename text-center text-modify"><%= course.courseName %></div>
        <!-- informazioni varie -->
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 id = "followerText"> Follower: <%= course.courseFollower %> </h1> 
                </div>
                <div class="col text-center">
                    <h1> Pubblicazioni: <%= course.coursePublications %> </h1> 
                </div>
            </div>
    
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-outline-success" id="followerBtn" disabled>Iscriviti al canale</button>
                </div>
                <div class="col text-center">
                    <button class="btn btn-outline-success disabled" disabled>Visualizza materiale</button>
                </div> 
            </div>
        

        <!-- materiale in evidenza -->
        <div class="row content-row">
          <% if (!(course.firstEvidenza.length != 0 && course.secondEvidenza.length != 0 && course.thirdEvidenza.length != 0)) { %>
            <div class="col">
              <ev id="ev" name="ev" hidden>0</ev>
              <div class="card h-100 border-primary mb-3 sized-card">
                  <div class="card-header text-dark bg-primary mb-3">Titolo</div>
                  <img src="../img/default_courses.jpeg" class="card-img-top" alt="JustClick">
                  <input type="image" src="../img/modify.png" class="modify-evidence" id="firstBtn" alt="Modifica">
                  <div class="card-body text-primary">
                    <h5 class="card-title">Materiale in evidenza</h5>
                    <p class="card-text">Aggiungi qui i tuoi eventi più interessanti o il materiale più importante per i tuoi follower!</p>
                  </div>
              </div>
            </div>
          <% } %>

          <% if (course.firstEvidenza.length != 0) { %>
            <div class="col">
              <ev id="ev" name="ev" hidden>1</ev>
              <div class="card h-100 border-primary mb-3 sized-card">
                  <div class="card-header text-dark bg-primary mb-3">Titolo</div>
                  <img src="../img/default_courses.jpeg" class="card-img-top" alt="JustClick">
                  <input type="image" src="../img/delete.png" class="modify-evidence" id="firstBtn" alt="Modifica">
                  <div class="card-body text-primary">
                    <h5 class="card-title"><%= course.firstEvidenza %> </h5>
                    <p class="card-text">Aggiungi qui i tuoi eventi più interessanti o il materiale più importante per i tuoi follower!</p>
                  </div>
              </div>               
            </div>
          <% } %>
            

            
          <% if (course.secondEvidenza.length != 0) { %>
            <div class="col">
              <ev id="ev" name="ev" hidden>2</ev>
              <div class="card h-100 border-primary mb-3 sized-card">
                  <div class="card-header text-dark bg-primary mb-3">Titolo</div>
                  <img src="../img/default_courses.jpeg" class="card-img-top" alt="JustClick">
                  <input type="image" src="../img/delete.png" class="modify-evidence" alt="Modifica">
                  <div class="card-body text-primary">
                    <h5 class="card-title"><%= course.secondEvidenza %></h5>
                    <p class="card-text">Aggiungi qui i tuoi eventi più interessanti o il materiale più importante per i tuoi follower!</p>
                  </div>
              </div>
            </div>
          <% } %>

          <% if (course.thirdEvidenza.length != 0) { %>
            <div class="col">
              <ev id="ev" name="ev" hidden>3</ev>
              <div class="card h-100 border-primary mb-3 sized-card">
                  <div class="card-header text-dark bg-primary mb-3">Titolo</div>
                  <img src="../img/default_courses.jpeg" class="card-img-top" alt="JustClick">
                  <input type="image" src="../img/delete.png" class="modify-evidence" alt="Modifica">
                  <div class="card-body text-primary">
                    <h5 class="card-title"><%= course.thirdEvidenza %></h5>
                    <p class="card-text">Aggiungi qui i tuoi eventi più interessanti o il materiale più importante per i tuoi follower!</p>
                  </div>
              </div>
            </div>
          <% } %>

        </div>
 
        <!-- elenco dei corsi-->
        <% let it %> 
        <% if (course.courses.length < 10) { %>
          <% it= course.courses.length %> 
        <% } else { %>
         <% it= 10 %> 
        <% } %>
        <% for( let index = 0; index < it; index++ ) { %>
          <div class="courses bds text-center" > 
            <index id="index" hidden><%= index %> </index>         
            <h2> <%= course.courses[index][0] %>  <span class="badge rounded-pill bg-success">NEW!</span></h2>
            <img src="../img/default_school.png" class="img-fluid" alt="JustClick">
            <h5 class="card-text"><%= course.courses[index][1] %> </h5> 
            <input type="image" src="../img/delete.png" class="modify-courses" alt="Modifica">
          </div>
        <% } %>

        <!-- cambia pagina per altri corsi-->
        <nav aria-label="Search other courses">
          <ul class="pagination center switchcourses">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <!-- decommenta per disabilitare --
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li> -->
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
      </nav>
  
  </div>

  <script>
    var bottoni = document.getElementsByClassName("modify-courses");
    var httpRequest = new XMLHttpRequest();
    for(var i=0; i<bottoni.length; i++) {
      bottoni[i].onclick = delete_courses;
    }
    function delete_courses(e) {
      //e.target.parentElement.parentElement.style.visibility = "hidden";
     httpRequest.open("POST", "/update/courses", true);
     httpRequest.setRequestHeader("Content-type", "application/json");
     httpRequest.send( '{ "index": '+e.target.parentElement.getElementsByTagName("index")[0].innerHTML+
                        ',"course": "'+'<%- course.courseName %>'+'" }');
      //alert( '{ "index": '+e.target.parentElement.getElementsByTagName("index")[0].innerHTML+
      //                  ',"course": "'+'<%- course.courseName %>'+'" }');
      e.target.parentElement.remove();
      var newIndexes = document.getElementsByTagName("index");
      for(var i=0; i<newIndexes.length; i++) {
        newIndexes[i].innerHTML = i;
      }
    }

    var buttons = document.getElementsByClassName("modify-evidence");
    buttons[0].onclick = create_evidence;
    for(var i=1; i<buttons.length; i++) {
      buttons[i].onclick = delete_evidence;
    }

    function create_evidence(e) {
      /*for(var i=0; i<bottoni.length; i++) {
        bottoni[i].getAttributeNode("src") = "../img/create.jpg";
      }*/
    }

    function delete_evidence(e) {
      //e.target.parentElement.parentElement.style.visibility = "hidden";
      httpRequest.open("POST", "/update/evidenza", true);
      httpRequest.setRequestHeader("Content-type", "application/json");
      httpRequest.send( '{ "evidenza": '+e.target.parentElement.parentElement.getElementsByTagName("ev")[0].innerHTML+
                        ',"course": "'+'<%- course.courseName %>'+'" }');
      //alert( '{ "evidenza": '+e.target.parentElement.parentElement.getElementsByTagName("ev")[0].innerHTML+
      //                  ',"course": "'+'<%- course.courseName %>'+'" }');
      e.target.parentElement.parentElement.remove();
    }
  </script>
  
  

  
  <!-- fine parte del body da modificare-->

  <footer>
      <h2>Seguici sui nostri canali social</h2>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-twitter"></a>
      <h2 class="logo">JustClick</h2>
      <div class="text-center">JustClick Copyright &copy; 2021 - Piattaforma tutorial </div>
  </footer>

</body>
</html>