<!DOCTYPE html>
<html>
<head>
    <title> Progetto RDC LTW</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" lang="javascript" src="../js/bootstrap.min.js"></script> 
    <link rel=stylesheet href="../styles/index.css" type="text/css">
    <link rel=stylesheet href="../styles/courses.css" type="text/css">
    <link rel=stylesheet href="../styles/listaCorsi.css" type="text/css">
    <link rel=stylesheet href="../styles/corsi.css" type="text/css">
    <link rel=stylesheet href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>

    <div class="header">
        <img src="../logo/logo_small.png" alt="JustClick">
        <p>Tutto il sapere a portata di click</p>
    </div>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-blue" id="1">
      <div class="container-fluid" id="2">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fw-bold" aria-current="page" href="/" id="home">HOME</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                LOGIN
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/login">Accedi</a></li>
                <li><a class="dropdown-item" href="/register">Registarti</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-bold" href="/courses">COURSES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="/AboutUs">ABOUT US</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                PROFILO
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/manageAccount">Gestisci account</a></li>
                <li><a class="dropdown-item" href="/personalArea">Il mio account</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" action="/search">
            <input class="form-control me-2" type="search" id="search" name="search" placeholder="Search" aria-label="Search" required>
            <button class="btn  btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>


    <!-- parte del body da modificare ognuno di noi -->
    <div class="row">
      <div class="center">
      <% for( let i = 0; i < corsi.length; i++ ) { %>
        <% var course = corsi[i] %> 
        <div class="ListCard Listbds <%= course.category %> ">
          <div class="d-flex">
            <div class="p-2 flex-fill">
              <% if (course.image == "not loaded") { %> 
                  <img src="../img/courseImgs/default_image.png" class="ListImage Listbds" alt="JustClick">
                <% } else { %>
                  <img src="../img/courseImgs/<%= course.author %>_<%= course.courseName %>.png " class="ListImage Listbds" alt="JustClick">
                <% } %> 
            </div>
            <div class="p-2 flex-grow-1 w-100 align-self-center bkg-<%=course.category%> ">
              <a href="/courses2/<%= course.courseName %>"><%= course.courseName %> </a>
              <h3>Created by <%= course.author %> </h3>  
              <h3>Followers: <%= course.courseFollower %> </h3>
              <h3>Publications: <%= course.coursePublications %>  </h3>
              <hr>
              <div class='row justify-content-evenly'>
                <p>Some text about the course.. </p>
              </div>
            </div>
          </div>       
        </div>
      <% } %>
      </div>
    </div>

    
    <!-- fine parte del body da modificare-->

    <footer>
        <h2>Seguici sui nostri canali social</h2>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-twitter"></a>
        <h2 class="logo">JustClick</h2>
        <div class="text-center">JustClick Copyright &copy; 2021 - Piattaforma tutorial </div>
    </footer>

</body>
</html>